{% extends 'app/base.html' %} 
{% load static %} 

{% block js %} 

<script src="{% static 'app/js/validador.js' %}"></script>
<script src="{% static 'app/js/evento_jquery.js' %}"></script>

{% endblock %} 

{% block css %}

<!-- incorporamos jquery  -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- jquery validate-->
    <script language="javascript" type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>

{% endblock %}

{% block contenido %} 

<section class="contenido3">
    <div class="comprar">
        <h1> ¿Productos para que mascota quieres?</h1>
        <h2>(Selecciona con las flechas)</h2>
    </div>

</section>
<section class="contenido4">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#gatos">
                    <img src="{% static 'app/img/carrusel/carruselgato.jpg' %}" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#roedores">
                    <img src="{% static 'app/img/carrusel/carruselhamster.jpg' %}" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#perros">
                    <img src="{% static 'app/img/carrusel/carruselPerro.jpg' %}" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#reptiles">
                    <img src="{% static 'app/img/carrusel/carruselSerp.jpg' %}" class="d-block w-100" alt="...">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<section class="contenido">
    <div class="texto">
        <h5><a> Tienda de mascotas "La cigueña" </a></h5>
    </div>

    <div class="nombre">
        <h1> COTIZA TUS PRODUCTOS</h1>
    </div>

    <div class="redes_sociales">
        <h5>
            <a> instagram </a>
        </h5>
    </div>
</section>
<!------------------------------------------------------------>

<section class="contenido5">
    <div class="perros">
        <h1>Promo 1</h1>
        <ol class="listaperros">
            <li>
                <h5>Correa de gato</h5>
            </li>
            <li>
                <h5>Ropa de gato</h5>
            </li>
            <li>
                <h5>Arenero de gato</h5>
            </li>
            <li>
                <h5>Regalo sorpresa</h5>
            </li>
        </ol>
    </div>
    <div class="perros">
        <h1>Promo 2</h1>
        <ol class="listaperros">
            <li>
                <h5>Correa de perro</h5>
            </li>
            <li>
                <h5>Cama de perro</h5>
            </li>
            <li>
                <h5>Producto de baño para perro</h5>
            </li>
            <li>
                <h5>Regalo sorpresa</h5>
            </li>
        </ol>
    </div>
    <div class="perros">
        <h1>Promo 3</h1>
        <ol class="listaperros">
            <li>
                <h5>Mini mundo para reptiles</h5>
            </li>
            <li>
                <h5>Luz ultravioleta para reptiles</h5>
            </li>
            <li>
                <h5>comida para reptiles</h5>
            </li>
            <li>
                <h5>Regalo sorpresa</h5>
            </li>
        </ol>
    </div>
    <div class="perros">
        <h1>Promo 4</h1>
        <ol class="listaperros">
            <li>
                <h5>Juegos para hamster</h5>
            </li>
            <li>
                <h5>Rueda para hamster</h5>
            </li>
            <li>
                <h5>comida para hamster</h5>
            </li>
            <li>
                <h5>Regalo sorpresa</h5>
            </li>
        </ol>
    </div>

</section>


<section class="contenido3">
    <div class="comprar">
        <form action="" method="post" id="cotizacionForm">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" required="" id="nombre" placeholder="nombre">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" name="apellido" required="" id="apellido" placeholder="apellido">
            </div>

            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="number" class="form-control" name="telefono" required="" id="telefono" placeholder="telefono">
            </div>

            <div class="form-group">
                <label for="mail">Correo Electronico</label>
                <input type="email" class="form-control" name="mail" aria-describedby="emailHelp" id="mail" placeholder="correo electronico">
            </div>

            <button type="button" class="btn btn-primary" id="ingresar" name="ingresar">Ingresar datos</button>
        </form>
    </div>
    

</section>

<!-- ------------------------------------------------------------------------------------------------>
<section class="contenido2">

    <div class="comprar">
        <form action="" method="post">

            <div class="form-group">
                <label for="eleccion">eleccion1</label>
                <select class="form-control" name="eleccion1" id="eleccion1">
                    <option value="promo1">promo 1</option>
                    <option value="promo2">promo 2</option>
                    <option value="promo3">promo 3</option>
                    <option value="promo4">promo 4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="descuento">Codigo descuento</label>
                <input class="form-control" name="descuento" id="descuento">
            </div>



            <div class="form-group">
                <label for="total">TOTAL</label>
                <input class="form-control" name="total" readonly id="total">
            </div>




            <button type="button" class="btn btn-dark" id="sumar2" name="sumar2">COTIZAR</button>
        </form>

    </div>


</section>




{% endblock %}